.userDetailsMainDiv3 {
    position: relative;
    top: 100px;
    color:rgb(82, 79, 79)
  }
  .userDetailsCard3 {
    border-top: 5PX #3a3b3d SOLID ;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: white;
  
    padding: 30px;
    margin-bottom: 100px;
  }
  
  .profilePicture img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  .profilePicture button {
    background-color: #3a3b3d;
    border: 1px solid rgba(205, 202, 202, 0.511);
    width: 170px;
    height: 35px;
    font-size: 8px;
    font-size: 14px;
    text-align: center;
    color:white;
    transition: 500ms;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .profilePicture button:hover {
    background-color: #3a3b3dd1;
    border: none;
    border-radius: 5px;
    color: white;
  cursor: pointer;
    
  }
  .profilePicture {
    grid-column: 1/5;
    border-right:1px solid rgba(205, 202, 202, 0.743);
    margin-right:50px;
   
  }
  .personalInfo {
   
    grid-column: 5/8;
  }
  
  .professionalInfo {
    grid-column: 8/11;
  }
  .educationallInfo {
    grid-column: 8/11;
  }
  
  .CvInfo {
    grid-column: 8/11;
  }
  